@{
  Layout = "_Layout";
}

@model University.Models.Major
@Html.ActionLink(" All Majors", "Index", null, new { @class="btn btn-info fa fa-bookmark-o" })
<h4>Add Major</h4>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.MajorName)</td>
      <td>@Html.TextBoxFor(model => model.MajorName)</td>
    </tr>
    <tr>
      <td>@Html.Label("Select Department")</td>
      <td>@Html.DropDownList("DepartmentId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa" ><i class="fa-plus-circle"> Add</i></button>
}
