@{
  Layout = "_Layout";
}

@model University.Models.Major
@Html.ActionLink("Show all Majors", "Index", null, new { @class="btn btn-info" })
<h4>Add Major</h4>

@using (Html.BeginForm())
{
  <p>
    @Html.LabelFor(model => model.MajorName)
    @Html.TextBoxFor(model => model.MajorName)
  </p>
  <p>
    @Html.Label("Select Department")
    @Html.DropDownList("DepartmentId")
  </p>
    <input type="submit" value="Add new Major" class="btn btn-info" />
}
