@{
  Layout = "_Layout";
}

@using University.Models;
@model University.Models.Major;
@Html.ActionLink(" All Majors", "Index", null, new { @class="btn btn-info fa fa-bookmark-o" })
@Html.ActionLink(" Edit", "Edit", new { id = Model.MajorId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink(" Delete", "Delete", new { id = Model.MajorId }, new { @class="btn btn-info fa fa-minus-circle" })
<h2>Major Details</h2>
<hr />
<h3>Major: @Html.DisplayFor(model => model.MajorName)</h3>
<p>Students in this Major:</p>
<ul>
@if (@Model.Students.Count == 0)
{
  <p>no students found</p>
}

@foreach (Student student in @Model.Students)
{
  <li>@student.Name</li>
}
</ul>
