@{
  Layout = "_Layout";
}

@model University.Models.Major
@Html.ActionLink("Back to Major list", "Index", null, new { @class="btn btn-info fa fa-scroll" })
<h2>Edit</h2>

<h4>Edit this Major: @Html.DisplayFor(model => model.MajorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MajorId)
  <p>
    @Html.LabelFor(model => model.MajorName)
    @Html.EditorFor(model => model.MajorName)
  </p>
  <p>
    @Html.Label("Select Department")
    @Html.DropDownList("DepartmentId")
  </p>
    <input type="submit" value="Save" class="btn btn-info fa fa-edit"/>
}