@{
  Layout = "_Layout";
}

@using University.Models;
@model University.Models.Department;
@Html.ActionLink("Back to departments", "Index", null, new { @class="btn btn-info fa fa-school" })
@Html.ActionLink("Edit Department", "Edit", null, new { id = Model.DepartmentId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId }, new { @class="btn btn-info fa fa-trash-alt" })

<h2>Department Details</h2>
<hr />
<h3>Department: @Html.DisplayFor(model => model.DepartmentName)</h3>
<p>Students in this department:</p>
<ul>
@if (@Model.Students.Count == 0)
{
  <p>no students found</p>
}

@foreach (Student student in @Model.Students)
{
  <li>@student.Name</li>
}
</ul>
<hr />
<p>Courses in this department:</p>
<ul>
@if (@Model.Courses.Count == 0)
{
  <p>no Courses found</p>
}

@foreach (Course course in @Model.Courses)
{
  <li>@course.Name</li>
}
</ul>
