@{
  Layout = "_Layout";
}

@model University.Models.Department
@Html.ActionLink(" All Department", "Index", null, new { @class="btn btn-info fa fa-bank" })
<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.DepartmentName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.DepartmentName)</td>
      <td>@Html.EditorFor(model => model.DepartmentName)</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa "><i class="fa-edit"> Save</i></button>
}

