@{
  Layout = "_Layout";
}

@model University.Models.Department
@Html.ActionLink("Back to department list", "Index", null, new { @class="btn btn-info" })
<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.DepartmentName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DepartmentId)

    @Html.LabelFor(model => model.DepartmentName)
    @Html.EditorFor(model => model.DepartmentName)

    <input type="submit" value="Save" class="btn btn-info"/>
}

