@{
  Layout = "_Layout";
}

@model University.Models.Student;

<h2>@Html.DisplayNameFor(model => model.Name)'s Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Courses.Count == 0)
{
  <p>This student does not contain any courses</p>
}
else
{
  <h4>Courses the student contains:</h4>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li>@join.Course.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to students", "Index")</p>
<p>@Html.ActionLink("Edit student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>