@{
  Layout = "_Layout";
}

@model University.Models.Student;
@Html.ActionLink(" All Students", "Index",null, null, new { @class="btn btn-info fa fa-graduation-cap" })
@Html.ActionLink(" Edit", "Edit", new { id = Model.StudentId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink(" Delete", "Delete", new { id = Model.StudentId }, new { @class="btn btn-info fa fa-minus-circle" })

<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Courses.Count == 0)
{
  <p>This student is not enrolled in any courses</p>
}
else
{
  <h4>Courses:</h4>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li>@join.Course.Name - 
      @if (@join.Completed == false)
      {
        @Html.ActionLink(" Complete", "Completed", "Students", new { joinId = join.CourseStudentId }, new { @class="btn btn-info fa fa-check-square-o" })
      }
      else
      {
        <span>Completed</span>
      }
    </li>
  }
  </ul>
}