@{
  Layout = "_Layout";
}

@model University.Models.Student

<h2>Edit</h2>

<h4>Edit this student: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)
    <p>
      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)
    </p>
    <p>
      @Html.LabelFor(model => model.Date)
      @Html.EditorFor(model => model.Date)
    </p>
    <p>
      @Html.Label("Select Department")
      @Html.DropDownList("DepartmentId")
    </p>
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to students", "Index")</p>