@{
  Layout = "_Layout";
}

@model University.Models.Course
@Html.ActionLink("Back to courses", "Index", null, null, new { @class="btn btn-info fa fa-pencil-ruler" })
<h2>Add a student</h2>

<h4>Add a student to @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)
  <p>
    @Html.Label("Select student")
    @Html.DropDownList("studentId")
  </p>
  <input type="submit" value="Save" class="btn btn-info fa fa-plus-circle"/>
}

