@{
  Layout = "_Layout";
}

@model University.Models.Course
@Html.ActionLink(" All Courses", "Index", null, null, new { @class="btn btn-info fa fa-book" })
<h2>Add a student</h2>

<h4>Add a student to @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)
  <table>
    <tr>
      <td>@Html.Label("Select student")</td>
      <td>@Html.DropDownList("studentId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa "><i class="fa-plus-circle"> Save</i></button>
}

