@{
  Layout = "_Layout";
}

@model University.Models.Course
@Html.ActionLink("Back to courses", "Index", null, new { @class="btn btn-info fa fa-pencil-ruler" })
<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)
    <p>
      @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    </p>
    <p>
      @Html.Label("Select Department")
    @Html.DropDownList("DepartmentId")
    </p>
    <input type="submit" value="Save" class="btn btn-info fa fa-edit"/>
}

